<div class='header-label green-label'>Conservation Effects in Singapore</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>
            Active, Beautiful and Clean<br />
            (ABC) Waters Programme
        </b>
    </div>
    <p>
        The soft- scaping of our waterways has an important role to 
        play in benefiting our biodiversity. Soft edges, with a variety 
        of native plants, help to merge the man-made and the 
        natural environments together. Planted edges create more 
        habitat types, and more places for animals to seek shelter, 
        rest and feed.
    </p>
    <p>
        From 2010 to 2021, 90 projects have received the ABC 
        Waters Certification through PUB's sustained efforts in 
        encouraging adoption of the ABC Waters Concept by both 
        public and private sectors. 
    </p>
</div>