<div class='header-label light-blue-label'>Singapore's National Taps</div>
<img class="w-100" style="background-color: #e0f3fd; padding-bottom: 30px;" src="assets/images/content/water-cachement.png" />
<div class="description-container">
    <p style="color:#005191; font-size: 26px; line-height: 32px;">
        <b>The 1st National Tap</b>
    </p>
    <p>
        With an area of about 710 km<sup>2</sup> and growing urban areas, 
        Singapore lacks the space to collect and store all the rain 
        that falls on it. Through a network of rivers, canals and drains, 
        rain that falls on two-thirds of Singapore's land area is 
        channeled to our 17 reservoirs.
    </p>
    <p>
        PUB continues to explore ways to maximise our rainwater 
        collection yield and strives to collect every drop of water 
        that falls on Singapore. 
    </p>
</div>