<div class='header-label green-label'>Conservation Effects in Singapore</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>Coral Nursery Project</b>
    </div>
    <p>
        In order to enhance and restore the current coral cover in 
        Singapore, a coral nursery was established off Pulau 
        Semakau in 2007.
    </p>
    <p>
        It is the first coral nursery in the region that makes use of 
        ‘corals of opportunity’, coral fragments that lie free on the 
        reef, instead of breaking up healthy coral colonies for 
        planting. 
    </p>
    <p>
        Since January 2008, 665 fragments and recruits – also known 
        as ‘baby corals’ – have been collected. A total of 20 ‘nursery 
        tables’ have been secured into the seabed as surfaces for 
        the new corals to grow on. Some of the fragments collected 
        months ago have already begun to grow new polyps, which 
        are the component parts of a coral head. The first batch of 
        thriving corals will soon be transplanted to local reefs.
    </p>
</div>