<div class='header-label light-blue-label'>Singapore's National Taps</div>
<img class="w-100" style="background-color: #e0f3fd; padding-bottom: 30px;" src="assets/images/content/desalinated.png" />
<div class="description-container" style="background-color: #e0f3fd; padding-bottom: 30px;">
    <p style="color:#005191; font-size: 26px; line-height: 32px;">
        <b>The 4th National Tap</b>
    </p>
    <p>
        Currently, we have four desalination plants.
    </p>
    <p>
        Desalination is an energy-intensive water source. Singapore 
        currently uses reverse osmosis for its desalination, which uses 
        about 3.5kWh/m<sup>3</sup> of energy to make seawater drinkable. This 
        process produces pure drinking water by pushing seawater 
        through membranes to remove dissolved salts and minerals.
    </p>  
    <p>
        PUB is constantly exploring ways to reduce the energy 
        required to ensure the sustainability of desalinated water.
    </p> 
</div>