<div class='header-label green-label'>Conservation Effects in Singapore</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>
            The Eco-link @ BKE
        </b>
    </div>
    <p>
        An ecological bridge that spans the Bukit Timah Expressway, 
        connecting Bukit Timah Nature Reserve and Central 
        Catchment Nature Reserve. Its main purpose is to restore the 
        ecological connection between two nature reserves, 
        allowing wildlife to expand their habitat, genetic pool and 
        survival chances.
    </p>
    <p>
        The 62m-long wildlife link is the first purpose-built bridge for 
        wildlife in South-east Asia. It can be seen by motorists on the 
        Bukit Timah Expressway (BKE) about 600m north of Rifle 
        Range Road.
    </p>
</div>