<div class='header-label green-label'>Hydroponics</div>
<div class="description-container">
    <p>
        Why is it called hydroponics? “Hydro” is the Greek word for 
        water, and “ponos” means work. In hydroponic gardening, 
        the water does the work—in this case, the work of delivering 
        nutrients to the plant roots.
    </p>
    <p>
        In hydroponic gardens, nutrients are dissolved in the water 
        that surrounds the roots, so plants have even easier access 
        to the nutrition they need. The result? Plants tend to grow big 
        and beautiful very quickly.
    </p>
    <p>
        There are different kinds of hydroponic systems. In some, 
        plant roots actually dangle in the water. In other hydroponic 
        gardens, plants grow in some kind of soil substitute, such as 
        peat moss, coir (coconut fibre), aged bark, perlite, or clay 
        pebbles. And because there’s none of the soil that many 
        plant pests and diseases need to survive, when you ditch the 
        dirt, you cut way down on your chance of experiencing 
        those problems. Amazingly, many hydroponic gardens 
        actually require less water than traditional gardens.
    </p>
</div>