<div class='header-label light-blue-label'>Singapore's National Taps</div>
<img class="w-100" style="background-color: #e0f3fd; padding-bottom: 30px;" src="assets/images/content/imported-water.png" />
<div class="description-container">
    <p style="color:#005191; font-size: 26px; line-height: 32px;">
        <b>The 2nd National Tap</b>
    </p>
    <p>
        Under the 1962 Water Agreement, Singapore can draw up 
        to 250 million gallons of water a day from the Johor River, 
        and Singapore is obliged to provide Johor with treated 
        water up to 2% of the water we import. The 1962 Water 
        Agreement will expire in 2061. Constructed by PUB under a 
        1990 agreement with Johor supplementary to the 1962 
        Water Agreement, the Linggiu Reservoir is located upstream 
        of the Johor River Waterworks and releases water into the 
        Johor River to supplement its flow. This enables reliable 
        abstraction of raw water at the Johor River Waterworks 
        which is owned and operated by PUB for treatment.
    </p>
</div>