<div class='header-label green-label'>Conservation Effects in Singapore</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>
            Coastal Protection and Restoration<br />
            of Mangrove Biodiversity at Pulau Tekong<br />
            and Pulau Ubin
        </b>
    </div>
    <p>
        Mangroves are rich ecological habitats, nursery grounds and 
        breeding sites for many animals and plants. Coastal 
        protection and restoration of mangrove biodiversity works 
        entail installation of wooden piles, filling of existing berms with 
        biodegradable sacks and shoreline stabilisation using stones.
    </p>
</div>