<div class='header-label light-blue-label'>Benefits of Marina Barrage</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>Lifestyle Attraction</b>
    </div>
    <div style="display: flex; justify-content:center; margin-top: 40px;">
        <img style="width:80%;background-color: #e0f3fd; padding-bottom: 30px;" src="assets/images/content/lifestyle-attraction.jpg" />
    </div>
    <p>
        Unaffected by tides, water level in Marina Reservoir is kept 
        constant all year round. This is ideal for all kinds of 
        recreational activities such as boating, kayaking and 
        dragonboating.
    </p>
</div>