<div class='header-label light-blue-label'>Singapore's National Taps</div>
<img class="w-100" style="background-color: #e0f3fd; padding-bottom: 30px;" src="assets/images/content/newater.png" />
<div class="description-container" style="background-color: #e0f3fd; padding-bottom: 30px;">
    <p style="color:#005191; font-size: 26px; line-height: 32px;">
        <b>The 3rd National Tap</b>
    </p>
    <p>
        The NEWater process recycles our used water into 
        ultra-clean, high-grade reclaimed water, cushioning our 
        water supply against dry weather and moving Singapore 
        towards water sustainability.
    </p>
    <p>
        During dry periods, NEWater is added to our reservoirs to 
        blend with raw water. The raw water from the reservoir is 
        treated at the waterworks before it is supplied to consumers 
        as tap water. 
    </p>
    <p></p>
    <p style="color:#005191; font-size: 26px; line-height: 32px;">
        <b>Singapore Water Story</b>
    </p>
    <p>
        1961: First water agreement allowing Singapore to draw 
        water from designated areas in Johor for 50 years.
    </p>
    <p>
        1962: Second water agreement allowing Singapore to draw 
        up to 250 million gallons of water a day from Johor River till 
        2061.
    </p>
    <p>
        1970-1980s: The massive clean-up of the Singapore and 
        Kallang Rivers was completed in 1987, ten years after the 
        cleaning of the rivers and its surrounding catchment areas 
        began.
    </p>
    <p>
        2003: NEWater was introduced to the Singaporean public.
        The first two NEWater plants at Bedok and Kranji were 
        officially opened.
    </p>
    <p>
        2005: SingSpring- Singapore’s first desalination plant officially 
        opened.
    </p>
    <p>2008: Marina Barrage was officially opened.</p>
    <p>
        2011: Water catchment in Singapore increased from half to 
        two-thirds of land surface (with the completion of Marina, 
        Punggol and Serangoon Reservoirs), allowing us to harvest 
        stormwater on a large scale for potable consumption.
    </p>
    <p>
        2018: Four National Taps continue to ensure a sustainable 
        water supply for  generations to come.
    </p>
</div>