<div class='header-label dark-blue-label'>What & How to Recycle?</div>
<div class='recycle-what'>What to Recycle?</div>
<div class="description-container" style="background-color: #e0f3fd; padding-bottom: 30px;">
    <p style="font-size: 17px; line-height: 21px; color: #20B574; text-align: center;">
        <i>
            40% of what we place inside the blue recycling bins are not suitable for 
            recycling. That's because these items are either contaminated with food and 
            liquids, or made of materials that can't be recycled at all.
        </i>
    </p>
    <p>
        <b>1. Use a bag or box to store all your recyclables</b>
    </p>
    <ul style="padding-left:26px;">
        <li>There is no need to sort the recyclables as they will be sorted centrally after collection</li>
    </ul>
    <p>
        <b>2. Know what can or cannot be recycled</b>
    </p>
    <ul style="padding-left:26px;">
        <li>Check the blue bin label to confirm that your items are suitable for recycling.</li>
        <li>Common materials that can be recycled include glass, paper, plastic and metal.</li>
        <li>Single-use packaging such as disposable containers and cups often cannot be recycled as they are contaminated with food.</li>
        <li>While food waste and e-waste can be recycled, they cannot be placed inside the blue recycling bins. Please refer to the respective waste stream pages to find out how they can recycled.</li>
        <li>Separate reusables (clothes, shoes, stuffed toys) from recyclables. Reusables that are in good condition should be donated. You can give them away through online sites or donate them!</li>
        <li>Do not throw trash or bulky items like furniture and renovation waste into blue recycling bins.</li>
    </ul>
    <p>
        <b>3. Make sure your items are not contaminated with food or liquids</b>
    </p>
    <ul style="padding-left:26px;">
        <li>For example, items such as shampoo/detergent bottles, canned/bottled drinks, cosmetic jars, jam jars need to be cleaned before they can be recycled.</li>
        <li>If containers are wet, greasy or contain food, they will contaminate the rest of the items in the recycling bin. Give these containers a simple rinse before you put them into the blue bin.</li>
    </ul>
    <p>
        <b>4. Recycle your items</b>
    </p>
</div>