<div class='header-label green-label'>Conservation Effects in Singapore</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>Species Conservation and<br />Recovery Programmes</b>
    </div>
    <p>
        Many programmes are being carried out in Singapore, 
        designed to conserve and recover native species. Rare 
        plant species are conserved in their natural habitats, plants 
        are rescued from areas undergoing development; and their 
        numbers are increased through seed planting, cuttings and 
        tissue culture.
    </p>
</div>