<div class='header-label green-label'>Conservation Effects in Singapore</div>
<div class="description-container">
    <div style="color:#424143; text-align: center; font-size: 31.4px; line-height: 38px;">
        <b>Singapore’s First Turtle Hatchery<br />at Sisters’ Islands Marine Park</b>
    </div>
    <p>
        The turtle hatchery provides a refuge for rescued turtle eggs, 
        giving them a chance to hatch safely.
    </p>
    <p>
        In 2016, NParks initiated a turtle management programme to 
        monitor and conserve Singapore’s turtle populations. Prior to 
        the programme, only 66 turtle sightings were recorded from 
        2005 to 2016. These sightings included nesting turtles, 
        underwater sightings, as well as hatchlings. Since 2017, 
        NParks has already recorded 80 nesting-related sightings 
        across nine locations. The increase in sightings is due to an 
        expansion of monitoring effort with the support of trained 
        volunteers and sightings reported by informed members of 
        the public.
    </p>
</div>