body{
    margin: 0px;
    padding: 0px 0px 350px 0px;
    background-color: #E0F3FD;
    background-image: url("../images/Footer-Leaves.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: contain;
    font-family: "Century Gothic";
    font-size: 22px;
    line-height: 28px;
    color: #010101;
    text-align: justify;
}
.w-100{
    width: 100%;
}
.description-container{
    padding-left: 62.5px;
    padding-right: 62.5px;
}
.description-container p{
    margin-top: 25px;
}
.header-label{
    border-radius: 24px;
    font-family: "Berlin Sans FB Demi";
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin: 90px auto 38px auto;
    width: 86vw;
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 480px) {
    .header-label{
        font-size: 21px;
        line-height: unset;
        padding: 0 20px;
        box-sizing: border-box;
    }
    body{
        font-size: 15px;
        line-height: 23px;
    }
    .description-container {
        padding-left: 26.5px;
        padding-right: 26.5px;
    }
}
.green-label{
    background-color: #A4CA39;
    color: #046938;
}
.light-blue-label{
    background-color: #1AAFE6;
    color: #31439B;
}
.dark-blue-label{
    background-color: #1072BA;
    color: #DCEBF8;
}
.brown-label{
    background-color: #C49A6C;
    color: #402312;
}
.video-input{
    width: 86vw;
    min-height: 50vh;
    height: auto;
    margin: 0 auto;
    display: block;
    border: solid thick #a4ca39;
    background-color: black;
    border-radius: 20px;
}
.close-button{
    position: fixed;
    top: 20px;
    right: 25px;
    width: 50px;
}
.recycle-row{
    display:flex; 
    justify-content: center; 
    flex-direction: row;
    margin-bottom: 10px;
}
.recycle-what{
    color:#424143; 
    font-family:'Century Gothic'; 
    font-weight: bold; 
    font-size: 26px; 
    text-align: center;
    margin-bottom: 10px;
}
.recycle-table{
    table-layout: fixed;
    margin: 0 auto;
    width: 91vw;
    border-collapse: separate;
    border-spacing: 0px;
    position: relative;
    border: solid 1px #293C8F;
}
.recycle-table th{
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
    color: #0E73B9;
}
.recycle-table th, .recycle-table td{
    background-color: #CEE4F6;
}
.recycle-table th:not(:last-child), .recycle-table td:not(:last-child){
    border-right: solid 1px #293C8F;
}
.recycle-table td{
    border-top: solid 1px #293C8F;
    font-family: "Century Gothic";
    font-size: 17px;
    line-height: 20px;
    color: #010101;
    vertical-align: middle;
    padding: 15px 13px;
    text-align: left;
}
.recycle-table th:nth-child(1), .recycle-table td:nth-child(1){
    width: 6.89%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.recycle-table th:nth-child(2){
    width: 53.6%;
    text-align: left;
    vertical-align: middle;
    padding: 4px 0px 4px 8px;
}
.recycle-table th:nth-child(3){
    width: 14.8%;
    text-align: left;
    vertical-align: middle;
    padding: 4px 0px 4px 8px;
    line-height: 23px;
}
.recycle-table th:nth-child(4){
    width: 24.7%;
    text-align: left;
    vertical-align: middle;
    padding: 4px 0px 4px 8px;
}
#canvas{
    width: 72px;
    height: 54px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 7px;
    visibility: hidden;
}
.preview_marker{
    width: 54px;
    min-height: 54px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 7px;
    padding: 4px;
    background-color: white;
    box-sizing: border-box;
    pointer-events: none;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    line-height: 9px;
}
.preview_marker img{
    width: 100%;
    border-radius: 5px;
    display: block;
    padding-bottom: 3px;
}
.captured_marker{
    width: 54px;
    min-height: 54px;
    position: absolute;
    top: 10px;
    left: 74px;
    border-radius: 7px;
    padding: 4px;
    background-color: white;
    box-sizing: border-box;
    pointer-events: none;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    line-height: 9px;
}
.captured_marker img{
    width: 100%;
    border-radius: 5px;
    display: block;
    padding-bottom: 3px;
}